*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(Three_Colour_Palettes_Inspired_By_Georgia_OKeeffe_Blog_Image-10.webp) no-repeat center fixed;
    background-attachment: fixed;
    margin-left: 200px;
    margin-right: 200px;
}   
.d1{
    height: 1500px;
    background-color: rgba(215, 226, 241, 0.719);
}
header{
    text-align: center;
    padding: 50px;
    list-style: none;
    color: antiquewhite;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: rgb(255, 255, 255);
    text-shadow: 2px 3px 2px rgb(0, 0, 0);
    font-weight: bolder;
}
h1{
    text-shadow:  2px 2px 2px rgb(26, 24, 24);
}
section{
    padding: 30px;
    line-height: 24px;
    font-size: 20px;
    font-style: normal;
    color: rgb(44, 27, 27);
}   
.s1{
    letter-spacing: 0.2cm;
    text-align: center;
    width: 100%;
    font-weight: 900;
    color: rgb(95, 11, 11);
    

}
.p1{
    text-align: center;
    font-style: oblique;
    line-height: 30PX;
    font-size: smaller;
}
.a1{
    color: blue;
}
.a1:hover{
    color: rgb(255, 255, 255);
    text-shadow: 2px 4px 4px rgb(0, 0, 0);
    font-weight: bolder;
    
}